body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #e2e2e4;
  color: #131414;
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
}

body{
  display:block;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

#image {
max-width: 100%;
height: auto;
margin-left: auto;
margin-right: auto;
display: block;
}

#tribute-info{
  color: #131414;
  font-family: Tahoma;
}

#left {
  margin: 1em auto;
  text-align: left;
}